<nav class="navbar p-2">
<ul class="nav nav-pills m-2">
    <li class="btn btn-outline-success m-1" routerLink="/principal/home">Home</li>
    <li class="btn btn-outline-success m-1" routerLink="/principal/products">Products</li>
    <li class="btn btn-outline-success m-1" routerLink="/principal/newProduct">New</li>
    <li class="m-2" *ngIf="loadingService.isLoading$ | async"> 
        <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </li>
</ul>
<ul class="nav nav-pills">
  <li *ngIf="appState.authState.isAuthenticated">
      <b>{{appState.authState.username}}</b> 
    <button class="btn btn-outline-danger m-2" (click)="logout()">Logout</button>
  </li>
  <li *ngIf="!appState.authState.isAuthenticated">
    
    <button class="btn btn-outline-success" (click)="login()">login</button>
  </li>
</ul>
</nav>


